<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid">
				<div class="footer-grid-heading">
					<h4>Adres</h4>
				</div>
				<div class="footer-grid-info">
					<p>
						Dacza turysty i biegacza <span>Topory 14a,Zakopane 34-500</span>
					</p>
					<p class="phone">
						Telefon : 661 066 769 <span>Email : <a
							href="mailto:example@email.com">daczabiegacza@gmail.com</a></span>
					</p>
				</div>
			</div>
			<div class="col-md-5 footer-grid">
				<div class="footer-grid-heading">
					<h4>Mapa strony</h4>
				</div>
				<div class="col-md-6">

					<div class="footer-grid-info">
						<ul>
							<li><a id="index-bar" href="index.html">Strona Główna</a></li>
							<li><a id="about-bar" href="about.html">O nas</a></li>
							<li><a id="services-bar" href="services.html">Oferta</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">

					<div class="footer-grid-info">
						<ul>
							<li><a id="regulamin-bar" href="regulamin.html">Regulamin</a></li>
							<li><a id="gallery-bar" href="gallery.html">Galeria</a></li>
							<li><a id="contact-bar" href="contact.html">Kontakt</a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-4 footer-grid">
				<div class="footer-grid-heading">
					<h4>Podziel się z innymi</h4>
				</div>
				<div id="fb-root"></div>
				<script>
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id))
							return;
						js = d.createElement(s);
						js.id = id;
						js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
				<div class="social">
					<div class="fb-page"
						data-href="https://www.facebook.com/daczazakopane/"
						data-tabs="timeline" data-small-header="false"
						data-adapt-container-width="true" data-hide-cover="false"
						data-show-facepile="true"
						data-show-posts="false" >
						<blockquote cite="https://www.facebook.com/daczazakopane/"
							class="fb-xfbml-parse-ignore">
							<a href="https://www.facebook.com/daczazakopane/">Dacza
								Turysty i Biegacza</a>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="footer-grid-heading">
				<h4>Partnerzy</h4>
			</div>
			<div class="col-md-2 footer-grid">
				<a href="http://www.chatak34.pl/" target="_blanck"> <img alt=""
					src="images/partnerzy/chata_biegacza.png">
				</a>
			</div>
			<div class="col-md-2 footer-grid">
				<a href="http://www.icebugrunning.pl/" target="_blanck"> <img
					alt="" src="images/partnerzy/icebugrunninglogo_net.jpg">
				</a>
			</div>
			<div class="col-md-2 footer-grid">
				<a href="http://www.treningnaturalny.com/" target="_blanck"> <img
					alt="" src="images/partnerzy/silni.png">
				</a>
			</div>
			<div class="col-md-2 footer-grid">
				<a href="http://www.tatrareh.pl" target="_blanck"> <img alt=""
					src="images/partnerzy/tatra.jpg">
				</a>
			</div>
		</div>
	</div>
</div>