
<!-- banner -->
<div class="banner %f-basebg">
	<div class="top-banner">
		<div class="container">
			<div class="top-banner-left">
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Barbara:&nbsp;693 228 916</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Rafał:&nbsp;661 066 769</li>
					<li><a href="mailto:daczabiegacza@gmail.com"><i
							class="fa fa-envelope" aria-hidden="true"></i>
							daczabiegacza@gmail.com</a></li>
				</ul>
			</div>
			<div class="top-banner-right">
				<ul>
					<li><a class="facebook" href="https://www.facebook.com/daczazakopane/"><i class="fa fa-facebook"
							aria-hidden="true"></i></a></li>
					<!-- <li><a class="facebook" href="#"><i class="fa fa-twitter"
							aria-hidden="true"></i></a></li>
					<li><a class="facebook" href="#"><i class="fa fa-dribbble"
							aria-hidden="true"></i></a></li> -->
					<li><a class="facebook" href="https://g.co/kgs/RfufSCq"><i
							class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<div class="top-nav">
				<nav class="navbar navbar-default">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a id="index-bar" href="index.html">Strona Główna</a></li>
							<li><a id="about-bar" href="about.html">O nas</a></li>
							<li><a id="services-bar" href="services.html">Oferta</a></li>
							<li><a id="regulamin-bar" href="regulamin.html">Regulamin</a></li>
							<li><a id="gallery-bar" href="gallery.html">Galeria</a></li>
							<li><a id="contact-bar" href="contact.html">Kontakt</a></li>
							<div class="clearfix"></div>
						</ul>
					</div>
				</nav>
			</div>
			<div class="clearfix">
				<div class="logo">
					<a href="index.html"> <img alt="Dacza turysty i biegacza"
						src="images/daczaturystyibiegaca.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->