<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="wynajem noclegi zakopane tanio" />

<meta property="og:url" content="http://grzgrz87.github.io.pl/" />
<meta property="og:type" content="article" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:title" content="Dacza turysty i biegacza" />
<meta property="og:description" content="Dacza turysty i biegacza" />
<meta property="og:image:url"
	content="http://grzgrz87.github.io/images/gallery/g1.jpg" />
<meta property="og:image:secure_url"
	content="https://grzgrz87.github.io/images/gallery/g1.jpg" />



<script type="application/x-javascript">
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

</script>

<script type="text/javascript">
	window.onload = function() {
		document.getElementById(window.activeHeader + '-bar').classList
				.add('active');
	};
</script>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/simplelightbox.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/ken-burns.css">
<link href="css/font-awesome.css" rel="stylesheet">

<script src="js/lightbox-plus-jquery.min.js" ></script>
<script src="js/bootstrap.js" async="async" ></script>
<script src="js/jarallax.js" async="async" ></script>
<script src="js/SmoothScroll.min.js" async="async"></script>



